body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #fffaf7;
  /* background-color: #fffd75; */
  line-height: 1.5;
}
main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    
    li {
    float: left;
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: #111;
    }
    
    a{
      text-decoration: none;
      color:black;
    }
    
    a:hover{
      /* background-color: black; */
      color:black;
    }
